[Desktop Entry]
Name[de]=Plattenalbum
Name[fa]=آلبوم صفحه
Name[fr]=Plattenalbum
Name[hi]=प्लैटेनएल्बम
Name[ja]=Plattenalbum
Name[nl]=Plattenalbum
Name[pl]=Plattenalbum
Name[pt_BR]=Plattenalbum
Name[ru]=Plattenalbum
Name[th]=Plattenalbum
Name[tr]=Plattenalbum
Name=Plattenalbum
GenericName[de]=Musikbrowser
GenericName[fa]=مرورگر آهنگ
GenericName[fr]=Navigateur
GenericName[hi]=संगीत ब्राउज़र
GenericName[ja]=ミュージックブラウザ
GenericName[nl]=Muziekspeler
GenericName[pl]=Przeglądarka muzyki
GenericName[pt_BR]=Navegador de Música
GenericName[ru]=Браузер музыки
GenericName[th]=ตัวค้นหาเพลง
GenericName[tr]=Müzik Tarayıcısı
GenericName=Music Browser
Comment[de]=Mit Ihrer Musik verbinden
Comment[fa]=وصل شدن به آهنگ‌هایتان
Comment[fr]=Connectez-vous à votre musique
Comment[hi]=अपने संगीत से जुड़ें
Comment[ja]=あなたの音楽へ接続
Comment[nl]=Verbind met je muziek
Comment[pl]=Połącz się z muzyką
Comment[pt_BR]=Conecte-se à sua música
Comment[ru]=Слушайте музыку
Comment[th]=เชื่อมต่อกับเพลงของคุณ
Comment[tr]=Müziğinize bağlanın
Comment=Connect to your music
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=plattenalbum de.wagnermartin.Plattenalbum
Icon=de.wagnermartin.Plattenalbum
Terminal=false
Type=Application
StartupNotify=true
Categories=Audio;AudioVideo;Player;GTK;
Keywords[de]=Musik;Player;
Keywords[fa]=Music;Player;پخش‌کننده‌;موزیک;آهنگ;موسیقی;
Keywords[fr]=Musique;Lecteur;
Keywords[hi]=संगीत;वादक;
Keywords[ja]=Music;Player;音楽;プレイヤー;
Keywords[nl]=Muziek;Speler;
Keywords[pl]=Muzyka;Odtwarzacz;
Keywords[pt_BR]=Música;Reprodutor de música;
Keywords[ru]=Music;Player;
Keywords[th]=ตัวเล่นเพลง
Keywords[tr]=Music;Player;Müzik;Oynatıcı;
Keywords=Music;Player;
X-Flatpak=de.wagnermartin.Plattenalbum
NoDisplay=true
